*,
*::before,
*::after {
  box-sizing: border-box;
}

/* css scrollbar */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color:  #ffffff;;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* css web */
body {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

nav {
  height: 5.2rem;
  width: 100vw;
  background-color:  #6e84dd;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}
.logo img {
  height: 4rem;
  width: 100%;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 50vw;
  padding-left: 50px;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-weight
: bold;
}
.nav-links li {
  position: relative;
}
.nav-links li a {
  color: #fff;
  font-size: medium;
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  background-position: 0;
}
.nav-links li a::before {
  content: "";
  background: #fff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.nav-links li a:hover::before {
  width: 100%;
}

.nav-links li a.active::before {
  width: 100%;
}

/* .nav-links li a.active {
  font-weight: 600;
} */

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

main {
  margin-top: 5.5rem;
  padding: 3px;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* tab beranda */

/* Pengaturan Container dan Row */
.container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

/* Pengaturan Kolom */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: #6e84dd;
}

.text a {
  color: white;
  text-decoration: none;
}

/* On hover, remove background color and change text color */
.prev:hover,
.next:hover {
  background-color: transparent;
  color: white;
}

/* tab 3 fasilitas */

.modul h2 {
  color: #35265e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modul-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.modul-box .card {
  width: 30%;
  height: 100%;
  background-color: #c7cce2;
  border-radius: 12px;
  box-shadow: 8px 8px 8px 0 #707cb4;
  text-decoration: none;
  color: #263571;
  transition: background-color 0.3s ease;
  padding: 1rem;
  overflow: hidden;
}

.modul-box .card:hover {
  background-color: #6e84dd;
  box-shadow: 10px 10px 20px 0;
}

.card{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.card h3, .card p {
  margin: 0;
  color: #35265E;
  padding: 1rem;
}

.pesan-button {
  background-color: #35265E;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: auto;
}

footer {
  padding: 20px;
  color: #fff;
  background-color: #35265E;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #6e84dd;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
  .modul-box .card {
    width: 100%; /* Mengatur lebar elemen tab 2 menjadi 100% saat lebar layar <= 800px */
  }
  .slideshow-container {
    max-width: 100%; /* Sesuaikan dengan lebar layar */
  }

  .mySlides1 {
    display: block; /* Tampilkan slide */
  }
  .prev,
  .next {
    font-size: 14px; /* Sesuaikan ukuran font tombol sebelum dan sesudah */
    padding: 12px; /* Sesuaikan ukuran padding tombol */
    margin-top: -16px; /* Sesuaikan posisi tombol */
  }

  .text {
    display: none;
  }
  /* Sesuaikan posisi tombol panah untuk perangkat seluler */
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  .next {
    right: 0;
    border-radius: 0 3px 3px 0;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section-bg {
  background-color: #6e84dd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #6e84dd;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# kegiatan
--------------------------------------------------------------*/
.kegiatan {
  padding-top: 80px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.kegiatan .card1 {
  display: flex;
  flex-direction: column;
  width:260px;
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #6e84dd;
  background: linear-gradient(to right, #ffffff, #bfc5dd);
  align-items: center;
  text-align: center;
}

.kegiatan .card1 img {
  max-height: 157px;
  display: block;
  object-fit: cover;
}

.kegiatan .card1-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.kegiatan .card1 .card1-body h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #555555;
}

.kegiatan .card1 .card1-body p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

/* .card-body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
} */


