* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 300;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
nav {
  height: 6rem;
  width: 100vw;
  background-color: #6e84dd;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);

  display: flex;
  position: fixed;
  z-index: 10;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 100%;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding-left: 50px;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li {
  position: relative;
}
.nav-links li a {
  font-size: medium;
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  background-position: 0;
}
.nav-links li a::before {
  content: "";
  background: #6e84dd;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.nav-links li a:hover::before {
  width: 100%;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #6e84dd;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #819aff;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* Pengaturan Dasar Footer */
footer {
  background-color: #35265E;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

/* Judul Footer */
.title-footer {
  font-size: 24px;
  font-weight: bold;
}

/* Konten Footer */
.content-footer {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Pengaturan Container dan Row */
.container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

/* Pengaturan Kolom */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Tata Letak Footer */
.footer {
  justify-content: center;
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Aturan Tambahan */
*,
::after,
::before {
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
      max-width: 540px;
  }
}

.modul h2{
color : #35265E;
}

.modul-box {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 20px;
list-style-type : none;
}


.modul-box .card {
width: 30%;
background-color: #c7cce2;
border-radius: 12px;
box-shadow: 8px 8px 8px 0 #707cb4;
text-decoration: none;
color: #263571;
transition: background-color 0.3s ease;
padding: 1rem; 
}

.modul-box .card:hover {
background-color: #6e84dd;
box-shadow: 10px 10px 20px 0;
}

.card img {
width: 100%;
border-radius: 12px 12px 0 0;
}

.card h3,
.card p {
margin-inline: 15px;
color : #35265E;
padding : 1rem;
}

header {
position: fixed;
top: 0;
left: 0;
width: 100%;
}

main {
margin-top: 100px; 
padding: 70px; 
}

.card{
  margin-bottom: 1rem;
}
