*,
*::before,
*::after {
  box-sizing: border-box;
}

/* css scrollbar */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* css web */
body {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

nav {
  height: 6rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 100%;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 50vw;
  padding-left: 50px;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li {
  position: relative;
}
.nav-links li a {
  color: #f2f5f7;
  font-size: medium;
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  background-position: 0;
}
.nav-links li a::before {
  content: "";
  background: #f2f5f7;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.nav-links li a:hover::before {
  width: 100%;
}

.nav-links li a.active::before {
  width: 100%;
}

/* .nav-links li a.active {
  font-weight: 600;
} */

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

main {
  padding-top: 6rem;
}

.img-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 aspect ratio (change this value to your desired aspect ratio) */
    }

    .img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Set a maximum width for the carousel container */
    .container {
        max-width: 1100px; /* Adjust this value as needed */
        margin: 0 auto;
    }

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

* {box-sizing: border-box}
.mySlides1 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.text a {
  color: white;
}

/* Media query for smaller screens (tablets and phones) */
@media screen and (max-width: 768px) {
  .text {
     display: none;
  }
  .prev, .next {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }
  /* Sesuaikan posisi tombol panah untuk perangkat seluler */
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  .next {
    right: 0;
    border-radius: 0 3px 3px 0;
  }
}

/* On hover, remove background color and change text color */
.prev:hover, .next:hover {
  background-color: transparent;
  color: white;
}


/* Pengaturan Dasar Footer */
footer {
  background-color: #35265E;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

/* Judul Footer */
.title-footer {
  font-size: 24px;
  font-weight: bold;
}

/* Konten Footer */
.content-footer {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Pengaturan Container dan Row */
.container {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

/* Pengaturan Kolom */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Tata Letak Footer */
.footer {
  justify-content: center;
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Aturan Tambahan */
*,
::after,
::before {
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
      max-width: 540px;
  }
}

.modul h2{
color : #35265E;
}

.modul-box {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 20px;
list-style-type : none;
}


.modul-box .card {
width: 30%;
background-color: #c7cce2;
border-radius: 12px;
box-shadow: 8px 8px 8px 0 #707cb4;
text-decoration: none;
color: #263571;
transition: background-color 0.3s ease;
padding: 1rem; 
}

.modul-box .card:hover {
background-color: #6e84dd;
box-shadow: 10px 10px 20px 0;
}

.card img {
width: 100%;
border-radius: 12px 12px 0 0;
}

.card h3,
.card p {
margin-inline: 15px;
color : #35265E;
padding : 1rem;
}

header {
position: fixed;
top: 0;
left: 0;
width: 100%;
}

main {
margin-top: 100px; 
padding: 70px; 
}

.card{
  margin-bottom: 1rem;
}
